body {
    text-align: center;
    background-image: url("../img/word.gif");
}
.col-md-8 {
  border: 1px solid #000;
  border-radius: 10px;
  margin-top: 10rem;
  background-color: #fff;
}
h1, h2 {
  font-family: 'Uncial Antiqua', cursive;
}
h2 {
  font-size: 25px;
}
h4{
  padding: 2rem;
}
button {
  margin:  3rem;
}
